body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

#signup-form {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#signup-form h1 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  color: #333;
}

#signup-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

#signup-form input[type="email"], #signup-form input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#signup-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#signup-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

#login-form {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#login-form h1 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  color: #333;
}

#login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

#login-form input[type="email"], #login-form input[type="password"] {
  width:95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#login-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#login-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

#create-book-form {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#create-book-form h1 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  color: #333;
}

#create-book-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

#create-book-form input[type="text"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#create-book-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#create-book-form button[type="submit"]:hover {
  background-color: #3e8e41;
}
